    body {
        margin: 0;
        padding: 0;
        background-color: rgb(237, 245, 245);
    }
    
    .container {
        padding-left: 300px;
    }
    
    .leftMargin {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 300px;
        background-color: rgb(2, 28, 58);
    }
    
    .option {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 20px;
    }
    
    .design {
        color: white;
        text-align: center;
        padding: 0 20px;
    }
    
    .navbar {
        display: none;
        font-size: 16px;
    }
    
    .navbar a {
        color: white;
        font-weight: bold;
        text-decoration: none;
        padding: 10px 10px 10px 35px;
        display: flex;
    }
    
    .navbar a:hover {
        background-color: white;
        color: rgb(2, 28, 58);
        margin-left: -20px;
        width: 120%;
        padding-left: 55px;
    }
    
    .dropbtn {
        background-color: rgb(2, 28, 58);
        color: white;
        font-size: 15px;
        border: none;
        display: flex;
    }
    
    .iconColor>i {
        color: blueviolet;
        padding-right: 5px;
    }
    
    .dropdown:hover .navbar {
        display: block;
    }
    
    .types {
        padding-left: 25px;
    }
    
    .fontIcon {
        display: flex;
        margin-bottom: 6px;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding: 10px;
    }
    
    .menuLeftside {
        display: flex;
        color: gainsboro;
    }
    
    .searchOption {
        height: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 100px;
        background-color: rgb(241, 239, 239);
        padding: 0 15px;
    }
    
    .fa-search {
        color: gray;
    }
    
    .inputSearch {
        border: none;
        background-color: rgb(241, 239, 239);
        color: gainsboro;
        outline: none;
        width: 200px;
    }
    
    .menuIcon {
        font-size: 2rem;
        padding: 0 30px;
        display: flex;
        align-items: center;
    }
    
    .menuRightside {
        font-size: 1.7rem;
        padding: 0 20px;
    }
    
    .menuRightside>a {
        color: gainsboro;
        padding: 0 5px;
        position: relative;
    }
    
    .bellIcon {
        position: absolute;
        right: -5px;
        top: -7px;
        color: #fff;
        background: blue;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        text-align: center;
        font-size: 15px;
        text-decoration: none;
    }
    
    .home {
        display: flex;
        padding-left: 20px;
        justify-content: space-between;
        align-items: center;
        background-color: white;
    }
    
    .home:before {
        content: '';
        position: absolute;
        left: 300px;
        top: 75px;
        width: 4px;
        height: 36px;
        background: rgb(97, 46, 192);
    }
    
    .homeLeftside>a {
        text-decoration: none;
        padding: 0 0 0 20px;
    }
    
    #homeDash {
        font-size: 22px;
    }
    
    .homeColor {
        color: rgb(145, 10, 145);
    }
    
    .profile {
        display: flex;
        background-color: rgb(97, 46, 192);
        color: white;
        font-size: 20px;
        padding: 15px 20px;
    }
    
    .profile>i {
        padding: 3px 10px;
        font-size: 25px;
    }
    
    .coin {
        display: flex;
        margin: 20px;
    }
    
    .bitcoin {
        height: 400px;
        width: 460px;
        margin: 20px;
        background-color: white;
    }
    
    .coinbox1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .bit {
        height: 100px;
        width: 100px;
        background-color: blue;
        border-radius: 0 0 250px 0;
    }
    
    .bit>i {
        font-size: 2.8rem;
        color: white;
        padding: 25px;
    }
    
    .coinHeading {
        display: flex;
        font-size: 20px;
    }
    
    .coinTitle {
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
    
    .hours {
        margin-right: 20px;
        background-color: gainsboro;
    }
    
    .description {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        margin: 0 20px;
    }
    
    .dollar {
        margin: 0 40px;
        padding-left: 32px;
        font-size: 20px;
    }
    
    .dollarValue {
        margin-top: 0px;
    }
    
    .overview {
        display: flex;
        margin: 20px;
        font-size: 20px;
    }
    
    .overviewContainer {
        margin: 20px;
        height: 300px;
        width: 70rem;
        background-color: white;
    }
    
    .overviewHeading {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
    
    .overviewHeading>h4 {
        font-weight: 600;
    }
    
    .coinDistribution {
        height: 300px;
        width: 370px;
        margin: 20px;
        background-color: white;
        padding: 20px;
    }
    
    .coinDistribution>h4 {
        font-weight: 600;
    }
    
    .lastHour {
        display: flex;
        border: none;
        font-size: 15px;
        margin-top: 15px;
        height: 30px;
        padding-right: 10px;
        outline: none;
    }
    
    .marketValue {
        height: 400px;
        background-color: white;
        margin: 0 40px;
    }
    
    .trends>h4 {
        font-weight: 600;
    }
    
    .trendsTableContainer {
        height: 300px;
        overflow: auto;
    }
    
    .trends {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        font-size: 20px;
    }
    
    .marketHour {
        font-size: 16px;
        border: unset;
    }
    
    tr {
        background-color: whitesmoke;
        font-size: 15px;
    }
    
    .trendsTable {
        margin-left: 20px;
        width: 97%;
        text-align: left;
        border-spacing: 0 10px;
    }
    
    td,
    th {
        padding: 15px;
        text-align: center;
    }
    
    .fa-caret-down {
        color: red;
        font-size: 25px;
    }
    
    .fa-caret-up {
        color: green;
        font-size: 25px;
    }
    
    .fa-arrow-up {
        color: green;
        font-size: 36px
    }
    
    .fa-arrow-down {
        font-size: 36px;
        color: rgb(224, 221, 221);
    }
    
    .fa-line-chart {
        color: rgb(81, 8, 110);
    }
    
    @media screen and (max-width:768px) {
        .leftMargin {
            display: none;
        }
        .container {
            padding-left: 0;
        }
        .coin {
            display: flex;
            flex-direction: column;
        }
        .menuLeftside {
            align-items: center;
        }
        .searchOption {
            height: 25px;
        }
        .inputSearch {
            width: 80px;
        }
        .menuIcon {
            font-size: 1.2rem;
            padding: 10px
        }
        .menuRightside {
            font-size: 1.2rem;
            padding: 0 5px;
        }
        .bellIcon {
            right: -2px;
            top: -12px;
            height: 20px;
            width: 20px;
        }
        .home {
            padding: 10px 0px;
        }
        .home:before {
            left: 0;
        }
        .homeLeftside>a {
            font-size: 12px;
            padding: 0;
        }
        #homeDash {
            font-size: 15px;
            padding: 0 10px 0 15px;
        }
        .profile {
            padding: 0;
            margin-right: 10px;
        }
        .profile>i {
            font-size: 2em;
            padding: 0;
            color: rgb(97, 46, 192);
            background-color: white;
        }
        .profile>a {
            display: none;
        }
        .coin {
            display: flex;
            margin: 0;
            justify-content: center;
            align-items: center;
        }
        .bitcoin {
            margin: 20px 20px 0 20px;
            height: 280px;
            width: 85%;
        }
        .coinbox1 {
            display: flex;
            justify-content: space-between;
            margin-bottom: -20px;
            align-items: flex-start;
        }
        .bit {
            height: 70px;
            width: 70px;
        }
        .bit>i {
            font-size: 2rem;
            padding: 15px;
        }
        .coinHeading {
            font-size: 18px;
        }
        .coinTitle {
            margin-top: 20px;
            align-items: flex-start;
        }
        .hours {
            margin: 25px 20px 45px 0;
        }
        .description {
            font-size: 15px;
            margin: 0;
        }
        .dollar {
            margin-left: 30px;
            font-size: 15px;
        }
        .dollarValue {
            font-size: 15px;
            margin-right: 15px;
            background-color: gainsboro;
        }
        .overview {
            flex-direction: column;
            align-items: center;
            font-size: 15px;
        }
        .overviewContainer {
            height: 280px;
            width: 95%;
            padding-top: 0;
            margin: 0 20px 20px;
        }
        .overviewHeading>h4 {
            padding-top: 5px;
        }
        .coinDistribution {
            height: 280px;
            width: 95%;
            margin: 0 20px 20px;
        }
        .coinDistribution>h4 {
            padding: 0;
            margin: 0;
        }
        .marketValue {
            display: none;
        }
        .trendsTable {
            display: none;
        }
    }