body{
 
	
    margin:0;
    padding:0;
    
  }
 
  .mainHeading{
      display: flex;
      background-color: rgb(251,171,96);
      padding:0 10%; 
      justify-content: space-between;
      color: white;
	  
  }
  .heading{
	  display: flex;
	  
  }
  .circle{
	  height: 40px;
	  width: 40px;
	  border-radius: 100px;
	  background-color: white;
	  margin-top: 20px;
	  margin-right: 10px;
  }
  
  .navbar
  {
	padding-top: 25px;
	 font-size: 25px;
  }
.navbar a
{
	color: white;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	
	padding: 14px;
}
.navbar a:hover
{
	background-color: gray;
	
}


.dropbtn
{
	display: none;
}
.bgImage{
	
	height: 350px;
	background: linear-gradient(
    to bottom,
    rgba(255,130,0, 0.6),
    rgba(255,130,0, 0.6)
  ),url(mountain);
	
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	
	flex-direction: column;
	background-repeat: no-repeat;
	background-size:100% 60%;  
	text-align: center;
	color: white;
	font-size: 20px;
	 line-height: 1; 
	 background-image: (orange);
	
}


.bgImage > p{
	font-family: 'Great Vibes', cursive;
	 font-size: 1.5em; 
	line-height: 1px;
}




.status-buttons {
	  position: relative;          
	display: flex;
	justify-content: center;
	top: -57px;
	
		
  }
  .status-buttons::after {       
	content: "";
	position: absolute;
	 width: 29%;
	z-index: -1;                 
	top: 21%;
	left: 34%;
	border: 3px solid rgb(90, 89, 89);
  }
  .iconcircle {
	display: flex;
	flex-direction: column;
	align-items: center;
   	
	
  }
  
  
  .icon {
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	height: 110px;

	
	width: 110px;
	border-radius: 50%;
	background-color: rgb(104, 102, 102);
  }

.icon > i{
	  background-color: rgb(104, 102, 102);
	  font-size:30px;
	  color: white;
	  
  } 
.iconDescription{
	margin:0 20px;
	
}

  .stroyContent{
	  display: flex;
	  margin-top: -40px;
	   justify-content:center;
	   background-color: whitesmoke;
  }  
  
  .newTab > img{
		 width: 370px;
		height: 200px; 
		
		padding: 30px;
  }
  .side{
	  font-size: 20px;
	  padding-left: 30px;
  }
  .side > h3{
	  text-transform: uppercase;
	  }
.side > p{
	line-height: 1.5;
}
.side > button{
	background-color:rgb(251,171,96) ;
	color: white;
	font-size: 18px;
	border:unset;
	height: 40px;
}

@media screen and (max-width:768px)  {
	 
    .mainHeading{
    font-size: 13px;
	
	padding:0 20px; 
}

.circle{
margin-top: 12px;
}
.bgImage {
	height: 250px;
	font-size: .5em; 
}
.bgImage > p{
	font-size: 20px;
}
	.dropbtn {
		background-color: rgb(251,171,96);;
	color: white;
	 padding: 13px; 
	font-size: 24px;
	border: none;  
	display: flex;
	width: 50%;
	align-items: flex-end;

	
  }
  .dropdown{
	padding:10px;
	font-size: 20px;
  }

  .navbar {
	display: none;
	flex-direction: column;
	
	justify-content: center;
	 /* padding:10px;  */
	font-size: 17px;
   
	
  
   
  }
  
  .navbar a {
	color: white;
	 
	text-decoration: none;
	display: block;
	text-align: center;
  }
  
  .navbar a:hover {
	background-color: gray;
  
}
  
  .dropdown:hover .navbar {
	display: block;
}
.stroyContent{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}
.status-buttons::after {    
	display: none;
}

.status-buttons {
	display: flex;
	flex-direction: column;
	top:10px;
	
		
  }
  .icon {
	height: 60px;

	
	width: 90px;
  }  

.newTab > img{
	width: 280px;
   height: 200px; 
   padding:20px;
}
.side{
	font-size: 15px;
	padding:0 20px;
	
	text-align: center;
}
.icon > i{
	font-size: 20px;
}


}
	  
  
  
