html,body{
    margin: 0;
    padding:0;
    height: 100%;
    width:100%; 
    background: linear-gradient(to bottom ,white 50%, red 50%);
}
.boxmodel{
    position:absolute; 
    width: 45%;
    height: 50%;
    left: 27.5%;
    top: 25%;
    
    box-shadow: 0 0 15px  rgb(231, 230, 230);
    background-color:white;
  
}
.top-box{
    position:absolute; 
    width: 150px;
    height: 150px;
    left: 0;
    top: 0;
    border-radius:100px;
     transform: translate(20%,10%) scale(2,2); 
    
    background-color:#9540db;
}
.bottom-box{
    position:fixed; 
    width: 150px;
    height: 150px;
    bottom: 0;
    right:0;
    border-radius:100px;
    transform: translate(10%,20%) scale(2,2);
    background-color:lightgray;
}