body{
   
    width: 100%;
    margin:0;
    padding:0;
    background-color: rgb(255, 190, 0);
}
.container{
  
    
    width: 80%;
    margin:10px 10% 0 10%;
    background-color: white;
    font-size: 17px;
    
}

.main-container{
  
  
  display: flex;
  
  margin: 15px 15px 0px 15px;
  
  
}
.heading{
  display: flex;
  align-items: center;
  justify-content: space-between; 
  
  background-color: black;
  color:rgb(255, 190, 0);
  margin-top: 15px;
  padding: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:95%;
  
}

.nav-container {
  display: flex;
color:white;
gap:5px;
 margin:5px 15px;
font-size: 25px;
justify-content: center;
text-align: center;

}
.home {
  background: black;
  flex: 0.2 ;
  padding: 20px;
  
}
.aboutus {
  background: black;
  flex: 0.2;
  padding: 20px;
  
}

.services {
  background: black;
  flex: 0.2;
  padding: 20px;
}
.portfolio{
  background: black;
  flex: 0.2;
  padding: 20px;
}
.empty{
  background: black;
  flex: 1;
  padding: 20px;
}

.content-body{
  padding:10px 60px;
}


.content-paragraph{
  
  padding: 2px 20px;
}
.home:hover {
  background-color: yellow;
  color: black;
}
.aboutus:hover {
  background-color: yellow;
  color: black;
}
.services:hover {
  background-color: yellow;
  color: black;
}
.portfolio:hover {
  background-color: yellow;
  color: black;
}
