body {
    margin: 0;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/323039/black-wood-small.jpg);
}

.containerHeading {
    display: flex;
    justify-content: center;
    color: aqua;
    background-color: brown;
}

.cpuPlayer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68%;
    margin: 30px auto;
}

.cpudivClass {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    width: 120px;
    border: 5px solid white;
    border-radius: 20px;
    margin-right: -50px;
    color: white;
    font-size: 25px;
}

#cpuStyle {
    width: 70%;
}


/* 
.backCardHeading {
    display: contents;
    color: rgb(248, 246, 150);
    font-size: 30px;
} */

.middleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.cardsSelection {
    display: flex;
    align-items: center;
    padding: 0 50px;
}

#Uno {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}

.Draw {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 120px;
    border: 5px solid white;
    border-radius: 20px;
}

#deckCard {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 120px;
    border: 5px solid white;
    border-radius: 20px;
    color: white;
    font-size: 30px;
}

.drawBackside {
    height: 120px;
    width: 120px;
    background-color: red;
    border-radius: 120px 60px 120px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(248, 246, 150);
    font-size: 30px;
}

.footerContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


/* 
#number {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 54px;
} */

.cpuPlaceCards {
    height: 154px;
    width: 7%;
    background: black;
    border-radius: 16px;
    border: 4px solid white;
    transform: rotate(43deg);
    visibility: hidden;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: -104px;
    z-index: 2;
    font-size: 53px;
}

#Player {
    width: 68%;
    margin: auto;
    display: flex;
    justify-content: center;
}


/* #playerCard {
    display: flex;
    justify-content: center;
} */

.playerCardClass {
    height: 150px;
    width: 120px;
    border-radius: 16px;
    border: 4px solid white;
    margin-right: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* .number {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    position: absolute;
    width: 10;
    height: 35%;
} */

#ChanceText {
    background: #121312;
    width: 200px;
    height: 150px;
    margin: auto;
    color: white;
    text-align: center;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* #colorChoose {
    position: relative;
    top: -68%;
    width: 50%;
    height: 164px;
    left: 24%;
    background: azure;
    display: none;
} */


/* .colorChooseInnerCards {
    width: 16%;
    border-radius: 11px;
    margin-left: 6px;
} */


/* #drawBox {
    display: flex;
    position: absolute;
    display: none;
} */


/* .drawButtons {
    width: 112px;
    background: #2eeaaeb8;
    color: white;
    font-size: 33px;
    border: none;
    height: 81px;
    margin-top: 27px;
    margin-left: 27px;
    cursor: pointer;
    box-shadow: 5px 3px #256f27;
    border-radius: 50px;
    outline-style: none;
    user-select: none;
} */

.innerCard {
    color: white;
    font-size: 25px;
    font-weight: bolder;
}

.playerTitle {
    display: flex;
    justify-content: center;
    color: rgb(241, 238, 240);
    font-size: 25px;
    font-weight: bolder;
}

#playerWildCardContainer {
    width: 400px;
    height: 160px;
    background: #222;
    border-bottom: 2px solid white;
    border-top: 2px solid #555;
    display: flex;
    margin-top: 10px;
    position: absolute;
    right: 10rem;
}

.wildCardColor {
    height: 60px;
    text-align: center;
    transform: rotate(45deg);
    width: 60px;
    margin: 50px 0 0 30px;
}


/* #result {
    width: 400px;
    height: 160px;
    border-bottom: 2px solid white;
    border-top: 2px solid #555;
    background: #222;
    margin-top: 10px;
    position: absolute;
    right: 10rem;
    color: white;
    font-size: 25px;
} */

.score {
    width: 400px;
    height: 160px;
    font-size: 25px;
    background-color: turquoise;
    color: rgb(219, 61, 33);
    position: absolute;
    bottom: 22.5%;
    right: 35%;
    padding: 20px
}

#timer {
    color: orange;
    font-size: 25px;
    display: flex;
    justify-content: right;
    margin: 20px 50px;
}

.playerIconClass {
    font-size: 10rem;
    color: teal;
    position: absolute;
    bottom: -10px;
    left: 30px;
}

.cpuIconClass {
    font-size: 10rem;
    color: teal;
    position: absolute;
    top: 15%;
    right: 30px;
}