/* body {
    margin: 0;
    background-color: cadetblue;
}

.containerHeading {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.cpuContainerClass {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.innerBackCard {
    height: 150px;
    width: 120px;
    background-color: red;
    border: 5px solid white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 20px;
    margin-right: -40px;
} */

.shape-section {
    width: 500px;
    background: #222;
    border-bottom: 2px solid #555;
    border-top: 2px solid #555;
    margin-top: 30px;
    padding: 40px;
    display: flex;
}

.diamond-shape {
    height: 40px;
    text-align: center;
    transform: rotate(45deg);
    width: 70px;
    margin-left: 20px;
}


/* .item-count {
    color: #333;
    display: table-cell;
    height: 60px;
    transform: rotate(-45deg);
    vertical-align: middle;
    width: 60px;
} */

#upload_button {
    display: inline-block;
}

#upload_button input[type=file] {
    display: none;
}