/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */

body {
    margin: 0;
    width: 100%;
}

.container {
    margin: 20px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(6, 6, 77);
}

.profileContainer {
    display: flex;
    justify-content: space-between;
    margin: -10px 50px;
}

.photoContainer {
    display: flex;
    flex-direction: column;
    /* width: 25%; */
}

.photoUploadContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 10px;
    /* width: 150%; */
}

.photo {
    width: 130px;
    height: 120px;
    border: 3px solid black;
    border-radius: 50%;
    margin: 10px 50px 10px 10px;
}

#profileImage {
    display: none;
    width: 130px;
    height: 120px;
    position: absolute;
    left: 100px;
    top: 22px;
    border-radius: 50%;
    border: 3px solid black;
}

.photoUploadButton {
    color: rgb(38, 177, 182);
    font-size: 20px;
    /*  */
    /* height: 50px; */
}

.uploadButton::before {
    content: 'Upload';
}

.uploadButton::-webkit-file-upload-button {
    visibility: hidden;
}

.uploadButton {
    /* font-size: 17px; */
    padding: 5px 0 5px 15px;
    color: rgb(38, 177, 182);
    border: 3px solid rgb(38, 177, 182);
    border-radius: 10px;
    width: 60px;
}

.dobClass {
    width: 19rem;
    /* font-size: 17px; */
    padding: 5px;
}

.organizationContainer {
    display: flex;
    flex-direction: column;
    /* width: 28%; */
    justify-content: space-between;
    /* margin: 20px; */
    margin-left: 13px;
}

.nameContainer {
    display: flex;
    flex-direction: column;
    /* width: 28%; */
    margin-right: 13px;
    justify-content: space-between;
}


/* .organizationName {
    margin: 20px;
} */

.firstNameinput {
    width: 22rem;
    height: 25px;
}

.lastNameinput {
    width: 22rem;
    height: 25px;
}

.ContactDetailContainer {
    display: flex;
    margin: 30px 62px;
    justify-content: space-between;
}

#myselect {
    height: 30px;
    /* padding: 10px; */
    width: 22.5rem;
}

.mobileNumber {
    height: 30px;
    width: 22rem;
}

.mailIdClass {
    height: 30px;
    width: 22rem;
}

.locationContainer {
    display: flex;
    justify-content: space-between;
    margin: 30px 60px;
}

#countryName {
    height: 30px;
    width: 20rem;
}

#stateName {
    height: 30px;
    width: 22.5rem;
}

.cityClass {
    height: 30px;
    width: 22rem;
}

.addressContainer {
    display: flex;
    margin: 30px 30px 0 30px;
}

.communicationAddress {
    margin: 0 15px 0 30px;
    width: 100%;
}

.permanentAddress {
    width: 100%;
    margin: 0 15px;
}

.sameAsAddress {
    margin-left: 60px;
    font-size: 18px;
}

.pincodeContainer {
    margin-left: 60px;
    font-size: 20px;
}

.pincodeClass {
    height: 20px;
    width: 20rem;
}

.submitContainer {
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
    font-size: 20px;
}

.registerClass {
    padding: 10px;
    background-color: greenyellow;
    color: white;
    outline: none;
    border: none;
    margin-right: 10px;
    font-size: 16px;
}

.cancelClass {
    padding: 10px;
    background-color: greenyellow;
    color: white;
    outline: none;
    border: none;
    font-size: 16px;
}

.list {
    margin-left: 10px;
    width: 98.5%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 2px solid black;
    height: 40px;
    text-align: center;
    font-size: 18px;
    color: black;
    font-weight: 900;
}

th {
    background-color: greenyellow;
}

tr:nth-child(even) {
    background: white;
}

tr:nth-child(odd) {
    background: gainsboro;
}

#communicationAddr {
    height: 140px;
    width: 100%
}

#permanentAddr {
    height: 140px;
    width: 97%
}

.error {
    color: red;
    font-size: 16px;
}

#errorOraganizationName {
    margin-bottom: 20px;
}

.starStyle {
    color: red;
    font-size: 18px;
    font-weight: bold;
}


/* 
#errorcountry {
    position: relative;
    top: 50px;
    left: -75px;
}

#errorstate {
    position: relative;
    top: 50px;
    left: -70px;
} */