* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.headerContainer {
    background-color: rgb(61, 61, 61);
    color: #fff;
    height: 60px;
    padding: 0 10px;
}

.socialMediaIcon [class*="fa fa-"] {
    background-color: rgb(61, 61, 61);
    border-radius: 50%;
    color: #fff;
    height: 40px;
    margin-left: 5px;
    line-height: 40px;
    width: 40px;
    font-size: 22px;
    text-decoration: none;
    border: 1px solid white;
}

.selectLanguage h3 {
    padding: 0 10px;
}

.headingSection {
    font-size: 20px;
}

.navigationbarContainer {
    padding: 20px 30px;
}

.navigationbar {
    font-size: 20px;
}

.navigationbar a {
    padding: 35px 30px;
    color: black;
}

.navigationbar a:hover {
    text-decoration: none;
    color: black;
}

.dropbtnes {
    display: none;
}

.profileIcon i {
    font-size: 25px;
    color: black;
    padding: 0 5px;
}

.notificationStatus {
    margin-left: -10px;
    top: 75px;
    color: white;
    background: rgb(41, 179, 221);
    height: 20px;
    width: 60px;
    border-radius: 20px;
    font-size: 14px;
    text-decoration: none;
    line-height: 20px;
}

.pages {
    background-color: red;
}

.buy {
    background-color: orange;
}

.heart {
    width: 20px;
    border-radius: 50%;
    background-color: black;
    top: 80px;
    margin-left: -13px;
}

.customerStyle {
    background-size: cover;
    background-position-x: center;
    height: 400px;
    font-size: 20px;
}

.laborDay {
    background-image: url('image/backpack_puritaan_2_900x.jpg');
    width: 35%;
}

.colorTextChange {
    color: grey;
}

.laborDay div {
    padding: 10px;
    background-color: black;
}

.coolSpring {
    background-image: url('image/8NHBORBRVR_900x.jpg');
    width: 35%;
}

.coolSpring div {
    padding: 10px;
    background-color: black;
}

.streetStyle {
    background-image: url('image/blog_01_900x.jpg');
    width: 30%;
}

.streetStyle div {
    padding: 10px;
    background-color: black;
}

.shoppingBodyContainer {
    margin: 4rem 8%;
}

.shoppingListContainer {
    width: 130rem;
}

.shopping {
    margin-bottom: 4rem;
}

.shoppingList {
    background-size: cover;
    background-position-x: center;
    height: 550px;
    font-size: 25px;
    color: white;
}

.custInBeauty {
    background-image: url('image/julia01_900x.jpg');
    padding: 30px;
}

.fasionAndTravel {
    background-image: url('image/301be29690199.560d857c7a92e_900x.jpg');
    padding: 30px;
}

.foodStreetStyle {
    background-image: url('image/Voong-bong-Castor-Design-1_900x.jpg');
    padding: 30px;
}

.beautyDecoration {
    padding: 10px;
    background-color: black;
    text-align: center;
}

.shoppingDescription {
    background-color: rgb(236, 234, 234);
    font-size: 20px;
    padding: 30px;
    line-height: 1.6;
}

.readmoreButton {
    background-color: rgb(236, 234, 234);
    font-size: 15px;
    padding: 5px 20px;
    outline: none;
    color: rgb(99, 13, 10);
    border: 1px solid rgb(99, 13, 10);
    cursor: pointer;
}

.nextpageMove a {
    font-size: 20px;
    padding: 20px;
}

.shoppingContentContainer {
    margin-left: 30px;
    margin-top: -40px;
}

.searchBox {
    height: 50px;
    border-radius: 100px;
    background-color: rgb(241, 239, 239);
    padding: 0 3px 0 10px;
    border: 1px solid black;
}

.inputSearch {
    border: none;
    background-color: rgb(241, 239, 239);
    color: gray;
    outline: none;
    width: 200px;
    font-size: 18px;
}

.searchContainer {
    margin-top: -30px;
}

.searchText {
    height: 45px;
    background-color: black;
    color: white;
    border-radius: 100px;
    width: 150px;
    margin-top: 15px;
    line-height: 40px;
    cursor: pointer;
    font-size: 20px;
}

.rightsideBoxHeading {
    font-size: 20px;
    margin: 40px 0;
    padding-top: 10px;
    position: relative;
}

.rightsideBoxHeading:after {
    content: '';
    width: 70px;
    position: absolute;
    left: 5px;
    bottom: -10px;
    border-width: 0 0 1px;
    border: 1px solid;
}

.categoriesBox {
    font-size: 18px;
}

.instagramShoppingImage img {
    height: 100px;
    width: 110px;
}

.blogTagsContainer {
    margin-top: -30px;
}

.blogTagsBox p {
    font-size: 20px;
    border: 1px solid;
    padding: 10px;
    margin: 10px 5px;
}

.saleProducts {
    font-size: 20px;
    margin-bottom: 20px;
}

.dressModelName>p {
    margin: 0px 0 0 20px;
    padding-top: 10px;
}

.dressModelName>h4 {
    margin: 0 0 0 20px;
}

.recentPostList {
    font-size: 20px;
    line-height: 1.6;
}

.geckoDetailsContainer {
    padding: 4rem 8%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url('image/Mountain.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 20px;
}

.categoriesDescription a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 0;
}

.infoIcon {
    font-size: 20px;
}

.infoIcon i {
    margin-right: 20px;
    margin-top: -15px;
}

.office i {
    margin-top: -50px;
}

.gecko a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding-right: 16px;
}

.geckoAddress h2 {
    letter-spacing: 35px;
    padding-bottom: 10px;
}

.yourBankDetail {
    margin: 20px;
}

.yourBankDetail img {
    padding-right: 5px;
    height: 35px;
    width: 50px;
    filter: contrast(20%);
    border-radius: 7px;
}

.copyRightContainer {
    padding: 20px 8%;
    background-color: rgb(10, 10, 10);
    color: white;
    font-size: 18px;
}

.copyRightSatus a {
    text-decoration: none;
    color: white;
    padding: 0 20px;
}

.minusIcon i {
    display: none;
}

.gotopbtn {
    width: 50px;
    height: 50px;
    background: #886c20;
    bottom: 15px;
    right: 40px;
    text-decoration: none;
    line-height: 50px;
    color: white;
    font-size: 22px;
    border-radius: 100%;
    box-shadow: inset 0px 0px 0px 3px;
    border: 1px solid #886c20;
}

@media screen and (max-width:769px) {
    .gotopbtn {
        display: none;
    }
    .headerContainer {
        padding: 0;
    }
    .headingSection {
        display: none;
    }
    .socialMediaIcon [class*="fa fa-"] {
        height: 20px;
        width: 18px;
        font-size: 13px;
        line-height: 20px;
        padding: 0;
    }
    .selectLanguage h3 {
        padding: 0 7px;
        font-size: 14px;
    }
    .dropbtnes {
        color: gray;
        font-size: 24px;
        border: none;
        left: 10px;
        top: 90px;
    }
    .navigationbar {
        display: none;
        font-size: 17px;
        background-color: rgb(1, 39, 1);
    }
    .navigationbar a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .navigationbar a:hover {
        text-decoration: none;
        background-color: white;
        color: rgb(1, 39, 1);
        width: 100px
    }
    .dropdownes:hover .navigationbar {
        display: block;
        position: absolute;
        left: 25px;
        top: 120px;
    }
    .navigationbar [class*="notificationStatus"] {
        display: none;
    }
    .geckoImage img {
        height: 40px;
        width: 90px;
        margin-left: 40px;
    }
    .profileIcon i {
        font-size: 18px;
        color: black;
        padding: 0 5px;
    }
    .customerStyle {
        width: auto;
        height: 260px;
    }
    .customerStyle div {
        font-size: 15px;
        padding: 7px 0;
    }
    .shoppingBodyContainer {
        margin: 20px;
    }
    .shoppingList {
        font-size: 12px;
        height: 250px;
    }
    .beautyDecoration {
        padding: 10px 0;
        font-size: 15px;
    }
    .custInBeauty {
        padding: 15px;
    }
    .fasionAndTravel {
        padding: 15px;
    }
    .foodStreetStyle {
        padding: 15px;
    }
    .readmoreButton {
        font-size: 11px;
        padding: 5px 10px;
    }
    .shoppingContentContainer {
        display: none;
    }
    .geckoDetailsContainer {
        padding: 30px;
    }
    .geckoAddress h2 {
        letter-spacing: normal;
    }
    .envelope {
        font-size: 25px;
    }
    .categoriesDescription a {
        text-align: center;
    }
    .minusIcon i {
        display: inline-block;
    }
    .categoriesDescription {
        display: none;
    }
    .categoriesContainer:hover .categoriesDescription {
        display: flex;
    }
    .yourBankDetail img {
        height: 30px;
        width: 30px;
    }
    .subscribeContainer p {
        margin-top: 16px;
        text-align: center;
    }
    .copyRightContainer {
        font-size: 13px;
        padding: 0 0 15px;
    }
    .copyRightSatus a {
        padding: 0 10px;
    }
    .gecko {
        margin-bottom: 40px;
    }
    .envelope {
        font-size: 22px;
    }
    .copyRight h5 {
        padding-top: 15px;
        font-size: 15px;
    }
}

@media screen and (max-width: 320px) {
    .customerStyle div {
        font-size: 12px;
        padding: 7px 0;
    }
    .beautyDecoration {
        font-size: 10px;
    }
    .shoppingDescription {
        font-size: 16px;
    }
    .geckoAddress .office {
        padding-left: 0;
        margin-left: 0;
        font-size: 16px;
    }
    .inputSearch {
        height: 40px;
        width: 60%;
    }
    .searchText {
        height: 40px;
    }
    .copyRightContainer {
        font-size: 11px;
    }
    .infoIcon {
        font-size: 18px;
    }
    .gecko {
        margin-left: 0;
    }
    .gecko a {
        padding-right: 10px;
    }
    .envelope {
        font-size: 16px;
    }
    .copyRight h5 {
        font-size: 10px;
    }
}

@media screen and (min-width: 375px) and (max-width:424px) {
    .beautyDecoration {
        font-size: 13px;
    }
    .shoppingDescription {
        font-size: 19px;
    }
    .geckoAddress .office {
        margin-left: 0;
        padding-left: 0;
    }
    .inputSearch {
        width: 90%;
    }
    .gecko {
        margin-left: 0px;
    }
    .envelope {
        font-size: 20px;
    }
    .copyRight h5 {
        font-size: 13px;
    }
}