html,body{
    margin:0;
    padding: 0;
    }
  
  .flex-container {
   display: flex;
  justify-content: center;
}
  
  .flex-container > div {
    
    margin:10px;
    

    
  }
  .flex1{
      width:23.5vw;
      height:97vh;
      background-color: #f8d3d3;
      
  }
  .flex2{
    width:49vw;
    height:43vh;
    background-color: #f8d3d3;
}
.flex3{
  display: inline;
    width:23.5vw;
    height: 97vh;
    background-color: #f8d3d3;
}
.flex4{
  background-color: #f8d3d3;
align-content: space-between;
  
    width:49vw;
    height:52vh;
    background-color: #f8d3d3;
    margin-top: 15px;
}
.flex5{
   justify-content: space-between;
  }