*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: gainsboro;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(6, 85, 150);
    border-radius: 50px;
    border: 2px solid gainsboro;
}

body {
    margin: 0;
    padding: 0;
}

.headingContainer {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}

.icmSolutionIcon {
    width: 60px;
    height: 90px;
    border-radius: 50%;
    padding: 15px 10px;
}

.heading {
    display: flex;
    align-items: center;
}

.officeHeading {
    line-height: 0;
}

.officeHeading>p {
    text-align: right;
    color: rgb(18, 131, 197);
}

.navbar {
    font-size: 25px;
}

.navbar a {
    font-weight: bold;
    text-decoration: unset;
    padding: 35px 10px;
    margin-left: -6px;
}

.navbar>a:hover {
    background-color: rgb(6, 85, 150);
    color: white;
}

.navActive {
    background-color: rgb(6, 85, 150);
    color: white;
}

.navDecoration {
    color: black;
}

.dropbtn {
    display: none;
}

.homeBgImage {
    height: 500px;
    background-image: url("image/banner3.jpg");
    background-attachment: fixed;
    display: flex;
    background-size: 100%;
    justify-content: center;
    align-items: flex-end;
    color: white;
    line-height: 1;
    background-repeat: no-repeat;
}

.homeBgImage>p {
    font-size: 4rem;
}

.aboutContainer {
    margin: 20px;
}

.aboutHeading {
    font-size: 2.8rem;
    text-align: center;
    margin: 20px;
    padding-top: 20px;
}

.aboutDescription {
    font-size: 20px;
    padding: 0 10px 20px;
}

.boldText {
    font-weight: bold;
}

.serviceContainer {
    background-color: gainsboro;
    padding: 30px 10px;
}

.serviceHeading {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.serviceTitle {
    display: flex;
    margin: 20px;
}

.serviceIcon {
    height: 120px;
    width: 120px;
    background-color: rgb(4, 64, 112);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.serviceBox {
    height: 300px;
    width: 72%;
    background-color: white;
    margin-top: 30px;
    padding: 0 20px;
}

.serviceBox>h4 {
    font-size: 25px;
}

.serviceBox>p {
    font-size: 20px;
}

.serviceIconContainer {
    display: flex;
}

.skillContainer {
    display: flex;
    justify-content: space-between;
}

.skillHeading {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
}

.skillDetailContainer {
    padding: 0 30px;
}

.skillPercentage {
    font-size: 25px;
    width: 40rem;
    margin: 0 30px;
}

.percentage {
    height: 20px;
    background-color: rgb(4, 64, 112);
    margin-top: -20px;
}

.webDesign {
    width: 85%;
}

.webDevelopment {
    width: 95%;
}

.AppDevelopment {
    width: 91%;
}

.SystemIntergration {
    width: 78%;
}

.clientSaysDetails {
    display: flex;
    flex-direction: column;
    font-size: 23px;
    margin-left: 40px;
    padding-left: 40px;
}

.clientSaysDetails>h4 {
    font-size: 1.8rem;
    margin-top: -5px;
}

.pageMoveContainer {
    display: flex;
    justify-content: flex-end;
    font-size: 4em;
    margin: 20px 40px 0 0;
}

.previousPageMove {
    background-color: gainsboro;
    padding: 0 10px;
    margin: 30px 10px 0;
}

.nextPageMove {
    background-color: gainsboro;
    padding: 0 10px;
    margin: 30px 10px 0;
}

.featureContainer {
    background-image: url("image/Employee-flight-risk-1.jpg");
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 30px;
}

.featureHeading {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    color: white;
    padding: 20px 0;
}

.computingContainer {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.cloudComputing {
    height: 250px;
    width: 38%;
    background-color: white;
    padding: 0 30px;
    font-size: 22px;
}

.clientContainer {
    margin-bottom: 30px;
}

.clientHeading {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    margin: 20px;
}

.clientDetails {
    display: flex;
    justify-content: space-evenly;
}

.clientWebIcon {
    height: 100px;
}

.contactInfoContainer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url("image/sea-1265064_960_720.jpg");
    background-size: cover;
    height: auto;
    color: white;
}

.contactHeading {
    display: flex;
    justify-content: center;
    font-size: 2em;
}

.contactSection {
    display: flex;
    justify-content: space-between;
}

.contactInfo {
    display: flex;
    flex-direction: column;
}

.mapmarker>p {
    padding-top: 25px;
}

.infoIcon {
    display: flex;
    font-size: 20px;
    align-items: center;
    margin-left: 30px;
}

.contactInfo i {
    margin-right: 20px;
}

.yourContactDetails {
    display: flex;
    font-size: 30px;
}

.contactName {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 0;
}

.yourName {
    margin: 20px 0;
    height: 30px;
    width: 300px;
    outline: none;
}

.yourEmail {
    margin: 20px 0;
    height: 30px;
    width: 300px;
    outline: none;
}

.ContactMessage {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    font-size: 25px;
}

.yourMessage {
    margin: 20px 0;
    padding: 10px;
    height: 150px;
    outline: none;
    border: none;
}

.contactEmail {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 0;
}

.ContactSendBtn {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}

.sendBtn {
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
}

.copyRightContainer {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: rgb(59, 117, 243);
    color: white;
}

.icmSocialMedia {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icmSM {
    margin-left: 10px;
    background-color: white;
}

.fa-facebook-f {
    color: #3b5998;
    padding: 5px;
}

.fa-google {
    color: #DB4437;
    padding: 5px;
}

.fa-linkedin {
    color: #0e76a8;
    padding: 5px;
}

.fa-twitter {
    color: #00acee;
    padding: 5px;
}

@media screen and (max-width:769px) {
    .icmSolutionIcon {
        height: 40px;
        width: 40px;
    }
    .headingContainer {
        align-items: flex-start;
        padding: 0 10px;
    }
    .officeHeading>h1 {
        font-size: 25px;
    }
    .officeHeading>p {
        font-size: 13px;
    }
    .dropbtn {
        background-color: white;
        padding: 13px;
        font-size: 40px;
        border: none;
        display: flex;
        align-items: flex-end;
    }
    .dropdown {
        font-size: 20px;
    }
    .navbar {
        display: none;
        flex-direction: column;
        justify-content: center;
        font-size: 17px;
    }
    .navbar a {
        text-decoration: none;
        display: block;
        padding: 15px;
    }
    .dropdown:hover .navbar {
        display: block;
        margin-left: -50px;
        font-size: 20px;
    }
    .homeBgImage>p {
        font-size: 1.3rem;
        padding: 20px;
        text-align: center;
    }
    .homeBgImage {
        height: 300px;
        background-size: 100% 100%;
    }
    .aboutHeading {
        font-size: 1.3rem;
        padding: 0;
    }
    .serviceIconContainer {
        display: flex;
        flex-direction: column;
    }
    .serviceIcon {
        height: 70px;
        width: 70px;
        background-color: blue;
        font-size: 25px;
    }
    .serviceBox>h4 {
        font-size: 16px;
    }
    .serviceBox>p {
        font-size: 15px;
    }
    .serviceBox {
        height: 200px;
        width: 300px;
        margin-top: 24px;
    }
    .aboutDescription {
        text-align: center;
        font-size: 15px;
    }
    .skillContainer {
        display: flex;
        flex-direction: column;
    }
    .skillDetailContainer {
        padding: 0 20px;
        font-size: 10px;
    }
    .skillDetailContainer p {
        font-size: 15px;
    }
    .skillPercentage {
        width: 100%;
        margin: 0;
    }
    .skillPercentage p {
        font-size: 18px;
    }
    .percentage {
        margin-top: -15px;
    }
    .clientSaysDetails {
        padding: 0;
        margin: 0;
    }
    .clientSaysDetails h4 {
        font-size: 11px;
    }
    .pageMoveContainer {
        font-size: 2rem;
        margin: 0;
    }
    .featureHeading {
        font-size: 2.5rem;
    }
    .computingContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .cloudComputing {
        height: 200px;
        width: 70%;
        font-size: 15px;
        margin: 20px;
    }
    .featureContainer {
        background-position-x: center;
        background-size: 100% 100%;
        height: 600px;
    }
    .clientDetails {
        flex-direction: column;
        align-items: center;
    }
    .clientWebIcon {
        height: 100px;
        padding: 20px 10px;
    }
    .contactSection {
        flex-direction: column;
    }
    .yourContactDetails {
        flex-direction: column;
    }
    .contactHeading {
        font-size: 1.5rem;
    }
    .contactInfo i {
        margin-top: 15px;
    }
    .infoIcon {
        align-items: flex-start;
        font-size: 13px;
        font-weight: 600;
        margin: 0 15px;
    }
    .mapmarker>p {
        padding-top: 0;
    }
    .yourContactDetails {
        font-size: 20px;
    }
    .contactName {
        padding: 30px 15px 0;
    }
    .contactEmail {
        padding: 30px 15px 0;
    }
    .ContactMessage {
        font-size: 20px;
        padding: 30px 15px 0;
    }
    .yourName {
        width: 97%;
    }
    .yourEmail {
        width: 97%;
    }
    .ContactSendBtn {
        justify-content: flex-start;
        padding: 15px;
    }
    .copyRightContainer {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }
}

@media screen and (max-width: 320px) {
    .serviceIcon {
        height: 50px;
        width: 79px;
        background-color: blue;
        font-size: 20px;
        margin-top: 25px;
    }
    .copyRight p {
        font-size: 12px;
    }
}

@media screen and (min-width: 375px) and (max-width: 425px) {
    .serviceIcon {
        height: 60px;
        width: 90px;
        background-color: blue;
        font-size: 20px;
        margin-top: 25px;
    }
    .copyRight p {
        font-size: 15px;
    }
}