body{
   
  width: 100%;
  margin:0;
  padding:0;
  background-color: rgb(255, 190, 0);
}
.container{

  
  width: 80%;
  margin:10px 10% 0 10%;
  background-color: white;
  font-size: 17px;
  
}
ul#menu li {
  display:inline;
 
  
}
.main-container{


display: flex;
flex-direction: column;



}
.heading{
display: flex;
align-items: center;
justify-content: space-between; 

background-color: black;
color:rgb(255, 190, 0);
margin-top: 15px;
 margin-left: 4px; 
padding: 25px;
font-family: 'Roboto', sans-serif;
font-size: 20px;
width:93.5%;
border: 10px solid white;
}

.nav-container {

color:white;
margin:5px 0px;
width: 97%;
height: 80px;
margin: 0 15px;
font-size: 25px;
background-color: black;

}
.home {
background-color: black;
 margin-left: -45px;
padding: 25px;
border: 3px solid white;

}
.aboutus {
background-color: black;
margin-left: -10px;
padding: 25px;
border: 3px solid white;


}

.services {
background-color: black;
margin-left: -10px;
padding: 25px;
border: 3px solid white;
}
.portfolio{
background-color: black;
margin-left: -13px;
padding: 25px;
border: 3px solid white;
}
 .empty{
background-color: black;
/* flex: 1; */
padding: 15px;

}

.content-body{
padding:15px 60px;
}


.content-paragraph{

padding: 2px 20px;
}
li:hover {
  background-color: yellow;
  color:black
}

