 body{
 
  margin:0;
  padding:0;
  background-color:  rgb(90, 82, 21);
}

.heading{
display: flex;
align-items: center;
justify-content: center; 

background-color: #86630a;
color:white;
margin: 10px 11% 20px 11%;

font-family: 'Roboto', sans-serif;
font-size: 17px;

}
.navbar
{
	background-color: #86630a;
	display: flex;
	justify-content:flex-start;
  padding: 10px;
   padding-left: 15%; 
  font-family: 'Kaushan Script', cursive;
  font-size: 20px;
}
.navbar a
{
	color: white;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	padding: 14px 28px;
}
.navbar a:hover
{
	background-color: white;
	color: #86630a;
}

.dropbtn
{
	display: none;
}



.body-section{
    
    width: 78%;
    margin:15px 11%;
    background-color: white;
    padding:15px
}
.conceptHeading{
  color:	#654321;
  padding:2px;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-weight: bold;
}

  

.square{
  display: flex;
justify-content: center;

}
.box{
  display: flex;
  background-color: #86630a;
  color:white;
  align-items: center;
  justify-content: center;
  margin:20px; 
  font-size: 2rem;
  padding: 40px;
  width: 200px;
  height: 200px;
  }
  
  hr{
    margin:20px 50px;
    border-top: 3px dashed ;
  }
  .storyContent{
    margin:20px 50px;
    font-size: 1.2  em;
    line-height: 1.6;
  }
  .storyContent > h2{
    font-family: 'Kaushan Script', cursive;
    color:	#654321;
    font-weight: bold;
    
  } 
  #toggle{
    display: none;
  }
 
  @media screen and (max-width:768px)  {
   
    .heading{
      
      text-align: center;
      padding:6px;
      margin:8px 0;
      font-size: 13px;
    }
 
  .square{
    display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  }
  .box{
   
    
    height: 150px;
    width: 150px;
   
  }
   
  hr{
    margin:20px;
    
  }
  .storyContent{
    margin:20px;
    
  }
  .conceptHeading{
    font-size: .4em;
  }
  .dropbtn {
  	background-color: #86630a;
  color: white;
  padding: 16px;
  font-size: 24px;
  border: none;
  display: flex;
  width: 100%;
  padding-left: 13%;
}



.navbar {
  display: none;
  flex-direction: column;
  
  justify-content: center;
  padding:10px;
  font-size: 17px;
 
  background-color: #86630a;
  

 
}

.navbar a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.navbar a:hover {
  background-color: white;
color:#86630a;}

.dropdown:hover .navbar {
  display: block;}
  .body-section{
    margin:15px 7%;
  }
  
  }
  