body{
    margin: 0;
    
    }
.main{ 

    display: grid;
     grid-template-columns: 20% auto 20%;
     grid-template-rows: 43vh 29vh 20vh;
     grid-column-gap: 1%;
     grid-row-gap: 2%;
     padding:1%;

    }
.grid{
    background-color: #f8d3d3;
    }

.grid1{
        grid-row: 1/4;
    }
.grid2{
        grid-row: 1/2;
    }
.grid3{
        grid-row: 1/4;
    }
.grid4{

        grid-row: 2/span 2;
    }
    