.headingContainer {
    padding: 0 20px;
    height: 90px;
}

.icmSolutionIcon {
    width: 70px;
    height: 90px;
    border-radius: 50%;
    padding: 15px 10px;
}

.officeHeading {
    line-height: 0;
}

.officeHeading>p {
    text-align: right;
    color: rgb(18, 131, 197);
}

.navigationbar {
    font-size: 25px;
}

.navigationbar a {
    font-weight: bold;
    padding: 31px 10px;
    margin-left: -7px;
}

.navigationbar>a:hover {
    text-decoration: none;
    background-color: rgb(6, 85, 150);
    color: white;
}

.navActive {
    background-color: rgb(6, 85, 150);
    color: white;
}

.navDecoration {
    color: black;
}

.dropbtnes {
    display: none;
}

.homeBgImage {
    height: 500px;
    background-image: url("image/banner3.jpg");
    background-size: 100%;
    color: white;
    line-height: 1;
    background-repeat: no-repeat;
}

.homeBgImage>p {
    font-size: 4rem;
}

.aboutHeading {
    font-size: 2.8rem;
}

.aboutDescription {
    font-size: 20px;
    padding: 0 10px 20px;
}

.boldText {
    font-weight: bold;
}

.serviceContainer {
    background-color: gainsboro;
    padding: 30px 10px;
}

.serviceHeading {
    font-size: 2.7rem;
}

.serviceTitle {
    margin: 20px;
}

.serviceIcon {
    height: 120px;
    width: 120px;
    background-color: rgb(4, 64, 112);
    color: white;
    font-size: 2rem;
    margin-top: 30px;
}

.serviceBox {
    height: 300px;
    width: 72%;
    background-color: white;
    margin-top: 30px;
    padding: 0 20px;
}

.serviceBox>h4 {
    font-size: 25px;
    padding-top: 20px;
}

.serviceBox>p {
    font-size: 20px;
}

.skillHeading {
    padding-top: 20px;
}

.skillDetailContainer {
    padding: 0 30px;
}

.skillPercentage {
    margin: 0 30px;
    font-size: 25px;
    width: 50rem;
}

.percentage {
    height: 20px;
    background-color: rgb(4, 64, 112);
    margin-top: -15px;
}

.webDesign {
    width: 85%;
}

.webDevelopment {
    width: 95%;
}

.AppDevelopment {
    width: 91%;
}

.SystemIntergration {
    width: 78%;
}

.clientSaysDetails {
    font-size: 23px;
}

.clientSaysDetails>h4 {
    font-size: 1.8rem;
    margin-top: -5px;
}

.pageMoveContainer {
    font-size: 4em;
    margin: 20px 40px 50px 0;
}

.previousPageMove {
    background-color: gainsboro;
    padding: 0 10px;
    margin: 30px 10px 0;
}

.nextPageMove {
    background-color: gainsboro;
    padding: 0 10px;
    margin: 30px 10px 0;
}

.featureContainer {
    background-image: url("image/Employee-flight-risk-1.jpg");
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
}

.featureHeading {
    font-size: 4rem;
    color: white;
}

.cloudComputing {
    height: 250px;
    width: 38%;
    background-color: white;
    padding: 0 30px;
    font-size: 20px;
}

.clientHeading {
    font-size: 2.5rem;
}

.clientDetails {
    justify-content: space-evenly;
}

.clientWebIcon {
    height: 100px;
}

.contactInfoContainer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url("image/sea-1265064_960_720.jpg");
    background-size: cover;
    height: auto;
    color: white;
}

.contactHeading h2 {
    font-size: 2.5rem;
}

.contactIcon {
    margin-top: -15px;
}

.mapmarker>p {
    margin-top: 38px;
}

.infoIcon {
    font-size: 22px;
    margin-left: 30px;
}

.contactInfo i {
    margin-right: 20px;
}

.yourContactDetails {
    font-size: 30px;
}

.contactName {
    padding: 30px 30px 0;
}

.yourName {
    margin: 20px 0;
    height: 35px;
    width: 300px;
    outline: none;
}

.yourEmail {
    margin: 20px 0;
    height: 35px;
    width: 300px;
    outline: none;
}

.ContactMessage {
    padding: 0 30px;
    font-size: 25px;
}

.yourMessage {
    margin: 20px 0;
    padding: 10px;
    height: 150px;
    outline: none;
    border: none;
}

.contactEmail {
    padding: 30px 30px 0;
}

.ContactSendBtn {
    padding: 30px;
}

.sendBtn {
    width: 160px;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
}

.copyRightContainer {
    padding: 10px;
    background-color: rgb(59, 117, 243);
    color: white;
}

.icmSocialMedia {
    font-size: 20px;
}

.icmSM {
    margin-left: 10px;
    background-color: white;
}

.fa-facebook-f {
    color: #3b5998;
    padding: 10px;
}

.fa-google {
    color: #DB4437;
    padding: 10px;
}

.fa-linkedin {
    color: #0e76a8;
    padding: 10px;
}

.fa-twitter {
    color: #00acee;
    padding: 10px;
}

.cloudComputing h3 {
    margin: 20px 0;
    font-size: 25px;
}

@media screen and (max-width:769px) {
    .icmSolutionIcon {
        height: 70px;
        width: 50px;
    }
    .headingContainer {
        padding: 0 10px;
    }
    .officeHeading>h2 {
        font-size: 25px;
    }
    .officeHeading>p {
        font-size: 13px;
    }
    .dropbtnes {
        display: block;
        background-color: white;
        color: black;
        padding: 13px;
        font-size: 40px;
        border: none;
    }
    .navigationbarContainer {
        font-size: 20px;
    }
    .navigationbar {
        display: none;
        font-size: 17px;
    }
    .navigationbar a {
        font-size: 15px;
        text-decoration: none;
        display: block;
        padding: 12px;
        margin-left: 0;
    }
    .navigationbarContainer:hover .navigationbar {
        display: block;
        margin-left: -50px;
        font-size: 20px;
        margin-top: 11rem;
        background-color: white;
    }
    .homeBgImage>p {
        font-size: 1.3rem;
        padding: 20px;
        text-align: center;
    }
    .homeBgImage {
        height: 300px;
        background-size: 100% 100%;
    }
    .aboutHeading {
        font-size: 1.3rem;
        padding: 0;
    }
    .serviceIcon {
        height: 60px;
        width: 90px;
        background-color: blue;
        font-size: 20px;
        margin-top: 25px;
    }
    .serviceBox>h4 {
        font-size: 19px;
    }
    .serviceBox>p {
        font-size: 15px;
    }
    .serviceBox {
        height: 250px;
        width: 300px;
        margin-top: 24px;
    }
    .aboutDescription {
        text-align: center;
        font-size: 15px;
    }
    .skillDetailContainer {
        padding: 0 20px;
        font-size: 10px;
    }
    .skillDetailContainer p {
        font-size: 15px;
    }
    .skillPercentage {
        width: 100%;
        margin: 10px;
    }
    .skillPercentage p {
        font-size: 18px;
    }
    .percentage {
        margin-top: -15px;
    }
    .clientSaysDetails {
        padding: 0;
        margin: 10px;
    }
    .clientSaysDetails h4 {
        font-size: 11px;
    }
    .pageMoveContainer {
        font-size: 2rem;
        margin: 0;
    }
    .featureHeading {
        font-size: 2.5rem;
    }
    .computingContainer {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .cloudComputing {
        width: 100%;
        font-size: 15px;
        margin: 40px;
        padding: 10px 15px;
    }
    .cloudComputing h3 {
        margin: 20px 0;
        font-size: 18px;
    }
    .featureContainer {
        background-position-x: center;
        background-size: 100% 100%;
        height: 800px;
    }
    .clientWebIcon {
        height: 100px;
        padding: 20px 10px;
    }
    .contactHeading {
        font-size: 1.5rem;
    }
    .contactInfo i {
        margin-top: 15px;
    }
    .infoIcon {
        font-size: 15px;
        font-weight: 600;
    }
    .yourContactDetails {
        font-size: 20px;
    }
    .contactName {
        padding: 30px 15px 0;
    }
    .contactEmail {
        padding: 30px 15px 0;
    }
    .ContactMessage {
        font-size: 20px;
        padding: 30px 15px 0;
    }
    .yourName {
        width: 97%;
    }
    .yourEmail {
        width: 97%;
    }
    .ContactSendBtn {
        padding: 15px;
    }
    .copyRightContainer {
        padding: 10px 0;
    }
    .clientDetails {
        display: flex;
        flex-direction: column;
    }
    .infoIcon p {
        padding-top: 12px;
    }
}

@media screen and (max-width: 320px) {
    .serviceIcon {
        height: 50px;
        width: 79px;
        background-color: blue;
        font-size: 20px;
        margin-top: 25px;
    }
    .copyRight p {
        font-size: 11px;
    }
    .infoIcon {
        font-size: 11px;
    }
    .serviceBox>h4 {
        font-size: 13px;
    }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
    .serviceIcon {
        height: 60px;
        width: 90px;
        background-color: blue;
        font-size: 20px;
        margin-top: 25px;
    }
    .copyRight p {
        font-size: 13px;
    }
    .infoIcon {
        font-size: 13px;
    }
    .serviceBox>h4 {
        font-size: 16px;
    }
}