body{
    background: linear-gradient(to bottom right, #4c84ec 50%, white 50%);
    height: 100%;
 }
 .boxmodel{
     position:absolute; 
     width: 35%;
     height: 20%;
     left: 25%;
     top: 24%;
     padding:8%;
     background-color: lightgray;
   
 }
 