.leftMargin {
    height: 100vh;
    background-color: rgb(2, 28, 58);
}

.container {
    background-color: rgb(236, 241, 241);
}

.iconColor>i {
    color: blueviolet;
    padding-right: 5px;
}

.iconColor {
    font-size: 22px;
    padding-top: 15px;
}

.design {
    color: white;
    padding: 0 20px;
}

.navigationbar {
    display: none;
    font-size: 16px;
}

.navigationbar a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 10px 10px 40px;
    display: flex;
}

.navigationbar a:hover {
    background-color: white;
    color: rgb(2, 28, 58);
    margin-left: -46px;
    width: 152%;
    padding-left: 5.7rem;
    text-decoration: none;
}

.dropbtnes {
    background-color: rgb(2, 28, 58);
    color: white;
    font-size: 15px;
    border: none;
    outline: none;
    display: flex;
}

.iconColor>i {
    color: blueviolet;
    padding-right: 5px;
}

.dropdownes:hover .navigationbar {
    display: block;
}

.types {
    padding-left: 25px;
}

.fontIcon {
    margin-bottom: 6px;
    padding: 10px;
    width: 102%;
    margin-left: -15px;
}

.menuLeftside {
    color: gainsboro;
}

.searchOption {
    height: 35px;
    border-radius: 100px;
    background-color: rgb(241, 239, 239);
    padding: 0 15px;
}

.fa-search {
    color: gray;
    padding-top: 10px;
}

.inputSearch {
    border: none;
    background-color: rgb(241, 239, 239);
    color: gainsboro;
    outline: none;
    width: 200px;
}

.menuIcon {
    font-size: 2rem;
    padding: 0 30px;
}

.menuRightside {
    font-size: 1.7rem;
    padding: 0 20px;
}

.menuRightside>a {
    color: gainsboro;
    padding: 0 5px;
    position: relative;
}

.bellIcon {
    position: absolute;
    right: -5px;
    top: -9px;
    color: #fff;
    background: blue;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    font-size: 15px;
    text-decoration: none;
}

.home {
    padding-left: 20px;
    background-color: white;
    width: 102%;
    margin-left: -15px;
}

.home:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 75px;
    width: 4px;
    height: 36px;
    background: rgb(97, 46, 192);
}

.homeLeftside>a {
    text-decoration: none;
    padding: 0 0 0 20px;
}

#homeDash {
    font-size: 22px;
}

.homeColor {
    color: rgb(145, 10, 145);
}

.profile {
    background-color: rgb(97, 46, 192);
    color: white;
    font-size: 20px;
    padding: 15px 20px;
}

.profile>i {
    padding: 3px 10px;
    font-size: 25px;
}

.coin {
    margin: 20px;
}

.bitcoin {
    height: 400px;
    width: 460px;
    margin: 20px;
    background-color: white;
}

.bit {
    height: 100px;
    width: 100px;
    border-radius: 0 0 250px 0;
}

.bit>i {
    font-size: 2.8rem;
    color: white;
    padding: 25px;
}

.coinHeading {
    font-size: 20px;
}

.coinTitle {
    margin-left: 10px;
}

.hours {
    margin: 40px 20px;
    background-color: gainsboro;
}

.description {
    padding-left: 20px;
    margin: 0 20px;
}

.dollar {
    margin: 0 40px;
    padding-left: 32px;
    font-size: 20px;
}

.overview {
    font-size: 20px;
}

.overviewContainer {
    height: 300px;
    width: 70rem;
}

.overviewHeading>h4 {
    font-weight: 600;
}

.coinDistribution {
    height: 300px;
    width: 370px;
}

.coinDistribution>h4 {
    font-weight: 600;
}

.lastHour {
    border: none;
    font-size: 17px;
    height: 30px;
    outline: none;
}

.marketValue {
    height: 400px;
    background-color: white;
}

.trends>h4 {
    font-weight: 600;
}

.trendsTableContainer {
    height: 300px;
    overflow: auto;
}

.trends {
    font-size: 20px;
}

.marketHour {
    font-size: 16px;
}

tr {
    background-color: whitesmoke;
    font-size: 15px;
}

.trendsTable {
    margin-left: 20px;
    width: 97%;
    border-spacing: 0 10px;
}

td,
th {
    padding: 15px;
    font-size: 18px;
}

.fa-caret-down {
    color: red;
    font-size: 25px;
}

.fa-caret-up {
    color: green;
    font-size: 25px;
}

.fa-arrow-up {
    color: green;
    font-size: 36px
}

.fa-arrow-down {
    font-size: 36px;
    color: rgb(224, 221, 221);
}

.fa-line-chart {
    color: rgb(81, 8, 110);
}

.overviewHeading {
    padding: 30px;
}

.fa-bitcoin {
    color: orange;
}

@media screen and (max-width:768px) {
    .leftMargin {
        display: none;
    }
    .container {
        padding-left: 0;
    }
    .fa-search {
        padding-top: 4px;
    }
    .fontIcon,
    .home {
        width: 107%;
    }
    .coin {
        flex-direction: column;
    }
    .menuLeftside {
        align-items: center;
    }
    .searchOption {
        height: 25px;
    }
    .inputSearch {
        width: 80px;
    }
    .menuIcon {
        font-size: 1.2rem;
        padding: 10px
    }
    .menuRightside {
        font-size: 1.2rem;
        padding: 0 5px;
    }
    .bellIcon {
        right: -2px;
        top: -12px;
        height: 20px;
        width: 20px;
    }
    .home {
        padding: 10px 0px;
    }
    .home:before {
        left: 0;
    }
    .homeLeftside>a {
        font-size: 12px;
        padding: 0;
    }
    #homeDash {
        font-size: 15px;
        padding: 0 10px 0 15px;
    }
    .profile {
        padding: 0;
        margin-right: 10px;
    }
    .profile>i {
        font-size: 2em;
        padding: 0;
        color: rgb(97, 46, 192);
        background-color: white;
    }
    .profile>a {
        display: none;
    }
    .coin {
        display: flex;
        margin: 0;
        justify-content: center;
        align-items: center;
    }
    .bitcoin {
        margin: 20px 20px 0 20px;
        height: 280px;
        width: 95%;
    }
    .coinbox1 {
        display: flex;
        justify-content: space-between;
        margin-bottom: -20px;
        align-items: flex-start;
    }
    .bit {
        height: 70px;
        width: 70px;
    }
    .bit>i {
        font-size: 2rem;
        padding: 15px;
    }
    .coinHeading {
        font-size: 18px;
    }
    .hours {
        margin: 25px 20px 45px 0;
    }
    .description {
        font-size: 15px;
        margin: 0;
    }
    .dollar {
        margin-left: 30px;
        font-size: 15px;
    }
    .dollarValue {
        font-size: 15px;
        margin-right: 15px;
        background-color: gainsboro;
    }
    .overview {
        flex-direction: column;
        align-items: center;
        font-size: 12px;
    }
    .overviewHeading {
        padding: 20px 15px;
    }
    .overviewContainer {
        height: 280px;
        width: 110%;
        padding-top: 0;
        margin: 0 20px 20px;
    }
    .coinDistribution {
        height: 280px;
        width: 110%;
        margin: 0 20px 20px;
    }
    .coinDistribution>h4 {
        padding: 0;
        margin: 0;
    }
    .marketValue {
        display: none;
    }
    .trendsTable {
        display: none;
    }
}

@media screen and (max-width:320px) {
    .fontIcon,
    .home {
        width: 110%;
    }
    .lastHour {
        font-size: 14px;
    }
}

@media screen and (max-width:425px) {
    .overviewContainer {
        width: 108%;
    }
    .coinDistribution {
        width: 108%;
    }
}